<h2>Usage instructions and frequently asked questions (FAQs)</h2>
<ol>
  <li><%= link_to "Data submission", :action => :data_submission %></li>
  <li><%= link_to "General usage", :action => :general_usage %></li>
</ol>

