[submodule "vendor/plugins/rchem"]
	path = vendor/plugins/rchem
	url = git@github.com:helma/rails-chemistry.git
[submodule "vendor/plugins/rails-widgets"]
	path = vendor/plugins/rails-widgets
	url = git://github.com/paolodona/rails-widgets.git
