#main
  =flash[:warning]
  =flash[:notice]

  = form_tag :action => :new
  %h2
    Submit data for workpackage
    = select_tag :workpackage, options_for_select([1,8],nil)
    = submit_tag 'Proceed'

  %h2 Data submission for other workpackages:
  Please send an Excel sheet with a representative example to
  = mail_to "helma@in-silico.de"
  and we will create a template for your data submission. Please understand, that we can use only structured data for the database. That means that we cannot use e.g. images, pdf files, powerpoint or word documents.
