#main

  %h2 Submit workpackage 8 results:
  %ol
    %li
      Download the
      = link_to "Excel template", ''
    %li Enter your results into the spreadsheet
    %li Upload the completed Excel sheets:
    =form_tag({:action => 'new'}, {:multipart => true})
    =file_field_tag 'file'
    =submit_tag 'Upload'

  Please contact 
  = mail_to "helma@in-silico.de"
  if you want to create upload facilities for other workpackages.
