<dl>
  <dt>
    <label for="record_comment">Comment</label>
  </dt>
  <dd>
  <%= text_area :record, :comment, :cols => 95, :rows => 1, :class => "comment-input text-input",:id => "record_comment"%>
  </dd>
</dl>
