- render_tabnav :main, :generate_css => false do 
  - add_tab :name => 'Home', :link => {:controller=>'home'}
  - add_tab :name => 'Internal website', :link => {:controller=> 'website'}
  - ['protocols','experiments','results','compounds','ring_trials'].each do |name|
    - add_tab do |t|
      - t.named name.humanize
      - t.titled "Go to #{name.humanize}"
      - t.links_to :controller => name
 

  -# add_tab :name => 'Data submission', :title => "Go to data submission", :link => {:controller=>'file_upload'}
  - add_tab :name => 'Help', :title => "Go to Help", :link => {:controller=>'help'}

