#main
  - @images.each do |cell_line, properties|
    %h1= cell_line.name
    %table
      %tr
        - @compounds.each do |compound|
          %th= compound.name

      - properties.each do |property,compounds|
        %tr
          - compounds.each do |compound,image|
            %td= image_tag image
