#main
  =flash[:warning]
  =flash[:notice]

  %h2 Submit workpackage 1 data:
  %ol
    %li
      Download our
      = link_to "Excel template" , :controller => :protocols, :action => :show, :id => Protocol.find_by_name("wp1_template.xls").id
      %i (do not use your own sheets)
    %li Enter compound information on sheet 1
    %li Enter Derek predictions on sheet 2
    %li Enter Local Lymph Node Assay results on sheet 3
    %li Enter physical/chemical properties on sheet 4
    %li Save and upload the completed Excel file:
    - form_tag({:action => 'new'}, {:multipart => true}) do
      =hidden_field_tag :workpackage,  1
      =file_field_tag 'file'
      =submit_tag 'Upload'

