-#%iframe{ :src => "https://132.230.80.10/wwwdata/", :width => "95%", :height => "100%", :name => "internal_website" }
%iframe{ :src => "https://sens-it-iv.org/wwwdata/", :width => "95%", :height => "100%", :name => "internal_website" }
  Your browser does not support iframes. Please use
  = link_to "this link",  "https://sens-it-iv-internal.org/wwwdata/"
  to go to the internal website.
